* text eol=crlf whitespace=trailing-space,space-before-tab,tabwidth=4

*.nuspec text eol=lf
*.au3 text eol=lf

*.png binary
*.jpg binary
*.exe binary
*.dll binary
*.zip binary
*.cer binary
*.pdf binary
